.card {
  width: 80%;
  height: 4rem;
  margin-top: 0;
  padding: 0 0 0 2rem;
  background: var(--color-white);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.card svg {
  margin: 0 2rem 0 0;
}

.card h1 {
  font-size: 20px;
  color: var(--color-black);
}

.card:hover {
  background: var(--color-pink-primary);
}

.card:hover h1 {
  color: var(--color-white);
}

.card:hover svg {
  fill: var(--color-white);
}

.btn {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: auto;
}

.btn button {
  width: 15rem;
  padding: 1rem 10rem;
  background: transparent;
  color: var(--color-red);
  border: var(--color-red) 2px solid;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn button:hover {
  background: var(--color-red);
  color: var(--color-white);
}

@media (max-width: 720px) {
  .card {
    margin: 0 0 0 -2.5rem;
    width: 22rem;
    padding: 0 0 0 1rem;
  }

  .card button {
    width: 10rem;
  }

  .card svg {
    margin: 0 1rem 0 0;
  }

  .card h1 {
    font-size: 18px;
  }
}
