.transparencia__container {
    max-width: 80%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.transparencia_h3 {
    padding-bottom: 2rem;
}

.ata {
    margin-bottom: 5.2rem;
}

.cnpj {
    margin-bottom: 5.1rem;
}

.ulti {
    margin-bottom: 2.5rem;
}

.voltar {
    max-width: 80%;
    margin: 0 auto 6rem auto;
}

.voltar button {
    padding: 1rem;
    border-radius: 30px;
    background: var(--color-pink-primary);
    font-size: 1.2543rem;
    color: var(--color-white);
    
    display: flex;
    align-items: center;
    gap: 0.3rem;

    transition: 0.2s;
    cursor: pointer;
}

.voltar button:hover {
    opacity: 50%;
}

/* =========== MEDIA QUERIES (SMALL DEVICES) =========== */

@MEDIA screen and (max-width: 600px) {
    .transparencia__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2.5rem;
    }
    
}