.nome__cabecalho{
    margin-top: 5rem;
    text-align: center;
}

.nome__cabecalho h1 {
    font-size: 3.5rem;
    color: var(--color-blue-primary);
}

.quote-externo p {
    margin: 0 auto;
    margin-top: 3.6rem;
    font-style: italic;
    max-width: 20rem;
    color: var(--color-blue-variant);
}

.quote-externo p:before, .quote-externo p:after {
    content: "";
    display: block;
    width: 10rem;
    height: 0.2rem;
    background: var(--color-blue-variant);
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.conheca__mais {
    margin-top: 5.1rem;
    font-style: italic;
    color: var(--color-blue-primary);
}

.conheca__mais button {
    margin-top: 2rem;
}