.bg {
    width: 100%;
    height: 25rem;

    background: var(--color-pink-variant);
    background: linear-gradient(0deg, var(--color-pink-variant) 0%, rgba(235, 227, 210, 0) 100%);
}

.bg-apoie {
    width: 100%;
    height: 8.6rem;

    background: var(--color-pink-variant);
    background: linear-gradient(180deg, var(--color-pink-variant) -37%, var(--color-pink-variant) 22%, rgba(255, 255, 255, 0) 100%);

    text-align: center;
    margin-bottom: 10rem;
}

.apoie-cit {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 2%;

    color: var(--color-black);
    padding: 7rem 0 0 0;
}

.botao-apoie {
    color: var(--color-black);
    background: var(--color-pink-primary);
    padding: 2rem;
    border-radius: 2rem;
}

.botao-apoie button {
    border: none;
    font-weight: bold;
    color: var(--color-black);

    margin-top: 1.8rem;
}

.botao-apoie h3 {
    font-weight: bold;
    color: var(--color-white)
}

.icon-landing {
    width: 2rem;
    height: 2rem;

    color: var(--color-white);
}

.img_landing {
    max-width: 500px;
    padding: 5rem 0 0 0;
    margin: 0 auto;
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) =========== */

@MEDIA screen and (max-width: 1024px) {
    .bg-apoie {
        margin-bottom: 13rem;
    }
}

/* =========== MEDIA QUERIES (SMALL DEVICES) =========== */

@MEDIA screen and (max-width: 600px) {
    .apoie-cit {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .bg-apoie {
        margin-bottom: 30rem;
    }

    .img_landing {
        max-width: 300px;
        padding-top: 7.3rem;
    }
}