.container.about__container {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 2%;
    margin-bottom: 1.3rem;
}

.missao_sobre {
    color: var(--color-black);
    background: var(--color-pink-variant);
    padding: 2rem;
    border-radius: 2rem;
}

.fundo {
    width: 95%;
}

.missao_sobre p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 1em;
}

.missao_sobre ul li {
    font-size: 16px;
    line-height: 30px;
}

.missao_valores {
    color: var(--color-black);
    background: var(--color-pink-variant);
    padding: 2rem;
    border-radius: 2rem;
}

.missao_valores p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 1em;
}

.missao_valores ul li {
    font-size: 16px;
    line-height: 30px;
}

.subtitulo-interno {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: .1em;
    color: var(--color-black);
    margin-bottom: 20px;
}

.subtitulo-interno:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: var(--color-black);
    margin: 8px 0;
}

.title {
    margin-top: 8rem;
}

.title h5{
    text-align: center;
    color: var(--color-blue-primary);
}

.title h2{
    text-align: center;
    color: var(--color-blue-primary);
    margin-bottom: 3rem;
}

.sobre {
    color: var(--color-blue-primary);
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) =========== */

@MEDIA screen and (max-width: 1024px) {
    .container.about__container {
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }
}

/* =========== MEDIA QUERIES (SMALL DEVICES) =========== */

@MEDIA screen and (max-width: 600px) {
    .container.about__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}