.container-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-overlay {
    border: 2px;
    border-color: var(--color-bg);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    border: 2px;
    text-align: center;
    width: 30%;
    max-width: 500px;
    background-color: var(--color-pink-variant);
    border-color: var(--color-primary-variant);
    padding: 10px;
    border-radius: 2rem;
    color: var(--color-white);
}

.btn-modal {
    margin-top: 1rem;
}

.btn_modal {
    width: max-content;
    display: inline-block;
    background: var(--color-pink-primary);
    color: var(--color-white);
    padding: 0.75rem 1.2rem;
    border-radius: 2rem;
    cursor: pointer;

    transition: var(--transition);

    font-weight: bold;
}

.btn_modal:hover {
    background: var(--color-blue-variant);
    color: var(--color-white);
    border-color: transparent;
}


.modal-content h3 {
    margin-top: 1rem;
}

.modal-content button {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) =========== */

@MEDIA screen and (max-width: 1024px) {
    .modal-content {
        width: 30rem;
    }
}

/* =========== MEDIA QUERIES (SMALL DEVICES) =========== */

@MEDIA screen and (max-width: 600px) {
    .modal-content {
        width: 20rem;
    }
}