.container__header {
    width: 100%;
    margin-left: -1.5rem;
}

.logo__casa {
    max-width: 11.5rem;
}

.header_menu {
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: -6rem;
}

.header_menu ul {
    float: right;
}

.header_menu ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: -2px;
}

.header_menu ul li a {
    color: var(--color-blue-primary);
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    padding: 3px 0;
}

.header_menu button {
    margin-left: 1rem;
    font-weight: bold;
}

.header_menu ul li a:hover {
    color: var(--color-blue-variant);
}