@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color-bg: #f0f0e9;
    --color-bg-variant: #ebe3d2;
    --color-pink-primary: #cf57b2;
    --color-pink-variant: #ff84bf;
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
    --color-yellow: #feea00;
    --color-green: #028535;
    --color-blue-primary: #00b1ff;
    --color-blue-variant: #52d6ff;
    --color-red: #ce0215;

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg-variant);
    color: var(--color-white);
    line-height: 1.7;
    /*background-image: url(./assets/bg-texture.png);*/
}

/* ============ ESTILOS GERAIS ============ */

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5{
    font-weight: 500;
}

h1{
    font-size: 2.5rem;
}

section{
    margin-top: 8rem;
}

section > h2,
section > h5{
    text-align: center;
    color: var(--color-blue-primary);
}

section > h2{
    color: var(--color-blue-primary);
    margin-bottom: 3rem;
}

.text-light {
    color: var(--color-light);
}

a{
    color: var(--color-blue-primary);
    transition: var(--transition);
}

.footer a:hover{
    color: var(--color-blue-variant);
}

.contact__option a:hover {
    color: var(--color-blue-variant);
}

a:hover{
    color: var(--color-blue-variant);
}

a:link {
    text-decoration: none;
}

.btn{
    width: max-content;
    display: inline-block;
    color: var(--color-white);
    padding: 0.75rem 1.2rem;
    border-radius: 2rem;
    cursor: pointer;

    transition: var(--transition);
}

.btn_doe{
    width: max-content;
    display: inline-block;
    background: var(--color-red);
    color: var(--color-white);
    padding: 0.75rem 1.2rem;
    border-radius: 2rem;
    cursor: pointer;

    transition: var(--transition);
}

.btn_doe:hover{
    background: var(--color-pink-variant);
    color: var(--color-white);
    border-color: transparent;
}

.btn_green{
    width: max-content;
    display: inline-block;
    background: var(--color-pink-primary);
    color: var(--color-white);
    padding: 0.75rem 1.2rem;
    border-radius: 2rem;
    cursor: pointer;

    transition: var(--transition);
}

.btn_green:hover{
    background: var(--color-pink-variant);
    color: var(--color-white);
    border-color: transparent;
}

.btn-transparencia {
    width: max-content;
    display: inline-block;
    background: var(--color-pink-variant);
    color: var(--color-white);
    border: 1.3px solid var(--color-white);
    padding: 0.75rem 1.2rem;
    border-radius: 2rem;
    cursor: pointer;

    transition: var(--transition);
}

.btn-transparencia:hover {
    background: var(--color-blue-variant);
    color: var(--color-white);
    border-color: transparent;
}

.btn:hover{
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary{
    background: var(--color-yellow);
    color: var(--color-bg);
}

.btn-yellow {
    background: var(--color-white);
    color: var(--color-bg);
}

img{
    display: block;
    width: 100%;
    object-fit: cover;
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) =========== */

@MEDIA screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;
    }
}

/* =========== MEDIA QUERIES (SMALL DEVICES) =========== */

@MEDIA screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    section > h2{
        margin-bottom: 2rem;
    }
}